#img-container{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    font-family: "Libre Bakersville", serif;
    text-align: center;
}

body{
    background-color: black;
    margin: 150px;
    font-family:'Times New Roman', Times, serif
}

img{
    border: 5px solid white;
    width: 100%;
}
h1{
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
}
p{
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
}
